:root {
    --primary-color: hsl(0, 75.2%, 46%);
    --secondary-color: #3a3335;
    --light: #fdfdfd;
    --dark: #3a3335;
    --medium: #4a4445;
    --bg-light: #FFFDF3;
    --bg-dark: #3a3335;
    --bg-medium: #4a4445;
}