    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        line-height: 1.5;
        overflow-x: hidden;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
    
    img {
        width: 100%;
    }
    /* -------------------- */
    /*        Hero          */
    /* -------------------- */
    
    #hero {
        background: url(../img/Stephanie\ Test.jpeg) no-repeat center center/cover;
        height: 100vh;
        position: relative;
        color: #fff;
    }
    
    #hero:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    
    #hero .hero-content {
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        padding-top: 6rem;
        z-index: 5;
    }
    
    .hero-content .btn {
        font-size: 1.3rem;
        padding: .75rem 1.5rem;
    }
    
    .hero-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: clamp(4rem, 10vw, 7rem);
        margin-bottom: 3rem;
    }
    /* -------------------- */
    /*        Navbar        */
    /* -------------------- */
    
    .primary-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        position: fixed;
        gap: 1rem;
        top: 0;
        left: 0;
        width: 100%;
        transition: all .6s;
        z-index: 1000;
        padding-inline: clamp(36px, 8vw, 1200px);
    }
    
    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        transition: all .6s;
    }
    
    .nav-links li {
        transition: .6s;
    }
    
    .nav-links li a {
        display: inline-block;
        position: relative;
        border-bottom: 2px transparent solid;
        padding-bottom: 0.3rem;
        transition: all 0.3s;
    }
    
    .nav-links li a:hover {
        color: #fff;
    }
    
    .nav-links li a::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--primary-color);
        transform: scaleX(0);
        transform-origin: top left;
        transition: transform .3s ease;
    }
    
    .nav-links li a:hover::before {
        transform: scaleX(1);
    }
    
    .primary-header.sticky {
        height: 4rem;
        background: var(--secondary-color);
    }
    
    .navbar-logo a i {
        scale: .9;
    }
    
    .navbar-logo a i {
        padding: .8rem .5rem;
        height: 57.17px;
        width: 57.17px;
        border: 1px solid var(--primary-color);
        border-radius: 50%;
        text-align: center;
        margin-bottom: .2rem;
        transition: all .6s ease-in-out;
    }
    
    .burger {
        display: none;
        cursor: pointer;
        /* margin: 3rem; */
    }
    
    .burger div {
        width: 25px;
        height: 2px;
        background: var(--light);
        margin: 5px;
        transition: all .3s ease
    }
    /* Info Section */
    
    #info-block h2 {
        font-weight: 300;
    }
    
    #info-block .section-title {
        font-weight: 500;
        text-align: center;
        margin: 1.5rem 0;
    }
    
    #info-block .info-grid i {
        padding: 1.1rem .8rem;
        width: 67.59px;
        height: 67.59px;
        border: 1px solid var(--primary-color);
        border-radius: 50%;
        text-align: center;
        margin-bottom: .2rem;
        transition: all .3s ease-in-out;
    }
    
    #info-block .info-grid i:hover {
        color: #fff;
        background-color: var(--primary-color);
        cursor: pointer;
    }
    
    #info-block .info-grid {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }
    
    #info-block .info-grid .info-section-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #info-block .info-grid .info-section-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #info-block .info-grid .info-section-left .info-item {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0 2rem 2rem 0;
        padding: 1rem 2rem;
        min-width: 185px;
    }
    
    #info-block .info-grid .info-section-right .info-item {
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 0 2rem 2rem 0;
        padding: 1rem 2rem;
        min-width: 185px;
    }
    
    #info-block .info-grid .info-section-left .info-label {
        min-width: 132.97px;
        padding-left: 2rem;
        margin-left: 2rem;
        border-left: 1px solid var(--secondary-color);
        text-align: center;
    }
    
    #info-block .info-grid .info-section-right .info-label {
        min-width: 132.97px;
        padding-right: 2rem;
        margin-right: 2rem;
        border-right: 1px solid var(--secondary-color);
        text-align: center;
    }
    
    #info-block .info-grid .info-section-left .info-text {
        opacity: 0;
        visibility: hidden;
        transform: translateX(50px);
        transition: all .6s;
    }
    
    #info-block .info-grid .info-section-right .info-text {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50px);
        transition: all .6s;
    }
    
    #info-block .info-grid .info-text.show {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
    /* About Section */
    
    #about-block {
        background: url(../img/Stephanie\ 2.jpeg) no-repeat center right/cover;
        background-attachment: fixed;
        position: relative;
        color: #fff;
    }
    
    #about-block:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
    }
    
    #about-block .about-items {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 45%;
        margin: 5rem 0;
        z-index: 10;
    }
    
    #about-block .section-title {
        font-weight: 500;
        margin-bottom: 1rem;
    }
    
    #about-block .about-items p {
        margin-bottom: 3rem;
    }
    /* Services Section */
    
    #services-block .section-title {
        font-weight: 500;
        text-align: center;
        margin: 1.5rem 0;
    }
    
    .items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-bottom: 2rem;
    }
    
    .item {
        position: relative;
        background: var(--secondary-color);
        overflow: hidden;
    }
    
    .item::after {
        content: '';
        position: absolute;
        display: block;
        background: inherit;
        opacity: 0.9;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
        transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
    }
    
    .item:hover:after {
        transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
    }
    
    .item:hover .item-image {
        transform: scale(1.2);
    }
    
    .item:hover .item-text {
        opacity: 1;
        transform: translateY(0);
    }
    
    .item-image {
        height: auto;
        transform: translateZ(0);
        display: block;
        transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
    }
    
    .item-image:before {
        content: '';
        display: block;
        padding-top: 75%;
        overflow: hidden;
    }
    
    .item-image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: 0;
    }
    
    .item-text {
        position: absolute;
        margin-inline: auto;
        left: 0;
        bottom: 2.5rem;
        opacity: 0;
        text-align: center;
        z-index: 1;
        color: #fff;
        transform: translateY(-20%);
        transition: opacity 1s cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
        transition-delay: 500ms;
    }
    
    .item-text-wrap {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .item-text-title {
        font-size: 2rem;
        padding: 0 1rem;
        margin: 5px 0 0 0;
    }
    /* Contact Section */
    
    .contact-content {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        z-index: -5;
        margin: 5rem 2rem;
    }
    
    .contact-form {
        width: 40%;
        text-align: center;
    }
    
    .contact-form input {
        border: none;
        outline: none;
        border-bottom: 1px solid #fff;
        background: inherit;
        padding: 1rem;
        color: var(--light);
        transition: border-bottom .3s;
    }
    
    .names {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }
    
    .input-box {
        margin-bottom: 2rem;
    }
    
    .input-box.name {
        width: 50%;
    }
    
    #first,
    #last {
        width: 100%;
    }
    
    .contact-form input:focus {
        border-bottom: 1px solid var(--primary-color);
        caret-color: #fff;
    }
    
    .contact-form input[type='email'],
    .contact-form input[id='phone'] {
        display: block;
        width: 100%;
        margin-inline: auto;
    }
    
    .error {
        margin-top: 1rem;
        color: red;
    }
    /* Services Page */
    
    .service-hero {
        background: url(../img/pt.jpg) center center/cover;
        height: 25rem;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        color: var(--light);
    }
    
    .service-hero::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
    }
    
    .service-hero .hero-title {
        font-size: 4rem;
    }
    
    .service-hero .service-hero-content {
        position: absolute;
        z-index: 5;
    }
    
    .service-body {
        margin: 4.25rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 3rem;
    }
    
    .block:nth-child(2) {
        flex-direction: row-reverse;
    }
    
    .block:nth-child(3) {
        margin-bottom: 0;
    }
    
    .block-img {
        height: 500px;
        width: 400px;
        object-fit: cover;
    }
    
    .block-text {
        width: 60%;
    }
    
    .block-text .section-title {
        margin-bottom: 1.5rem;
    }
    /* Fitness Tips Page */
    
    .fitness-hero {
        background: url(../img/pt.jpg) center center/cover;
        height: 25rem;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        color: var(--light);
    }
    
    .fitness-hero::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
    }
    
    .fitness-hero .hero-title {
        font-size: 4rem;
    }
    
    .fitness-hero .fitness-hero-content {
        position: absolute;
        z-index: 5;
    }
    /* About Page */
    
    .about-hero {
        background: url(../img/pt.jpg) center center/cover;
        height: 25rem;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        color: var(--light);
    }
    
    .about-hero::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
    }
    
    .about-hero .hero-title {
        font-size: 4rem;
    }
    
    .about-hero .about-hero-content {
        position: absolute;
        z-index: 5;
    }
    /* Contact Page */
    
    .contact-hero {
        background: url(../img/pt.jpg) center center/cover;
        height: 25rem;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        color: var(--light);
    }
    
    .contact-hero::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
    }
    
    .contact-hero .hero-title {
        font-size: 4rem;
    }
    
    .contact-hero .contact-hero-content {
        position: absolute;
        z-index: 5;
    }
    /* Footer */
    
    footer {
        padding: 3rem 0;
    }
    
    footer .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .separator {
        height: 8rem;
        width: 1px;
        background: var(--light);
    }
    
    .footer-links ul li a {
        transition: all 0.3s;
    }
    
    .footer-links ul li a:hover {
        color: var(--primary-color);
    }
    
    footer .container .footer-socials {
        display: flex;
        flex-direction: column;
    }
    
    footer .container .footer-socials a {
        transition: all .3s ease-in-out;
    }
    
    footer .container .footer-socials a:hover {
        color: var(--primary-color);
    }
    
    footer .container .footer-socials i {
        margin-bottom: .4rem;
    }
    /* Media Queries */
    
    @media (max-width: 1024px) {
        #about-block {
            background-attachment: scroll;
        }
        #about-block .about-items {
            width: 100%;
            padding: 0 2rem;
        }
    }
    
    @media (max-width: 900px) {
        #about-block .about-items {
            margin: 3rem 0;
        }
        .contact-content {
            flex-direction: column;
            margin: 3rem 2rem;
        }
        .contact-content .section-title {
            margin-bottom: 3rem;
        }
    }
    
    @media (max-width: 768px) {
        .nav-links {
            position: fixed;
            gap: 2rem;
            inset: 0 0 0 30%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: min(30vh, 10rem) 2em;
            background: var(--secondary-color);
            transition: transform .5s ease-in-out;
            transform: translateX(100%);
        }
        .nav-links li {
            opacity: 0;
        }
        .burger {
            display: block;
        }
        .nav-active {
            transform: translateX(0);
        }
        .contact-form {
            width: 100%;
        }
        .names {
            flex-direction: column;
            width: 100%;
            gap: 0;
        }
        .input-box.name {
            width: 100%;
        }
    }
    
    @media (max-width: 750px) {
        .items {
            grid-template-columns: 1fr;
        }
        footer .container {
            flex-direction: column;
            gap: 2rem;
            align-items: flex-start;
        }
        .separator {
            height: 1px;
            width: 50%;
            background: var(--light);
        }
        footer .container .footer-socials {
            flex-direction: row;
            gap: 1rem;
        }
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(100px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }