:root {
    --primary-color: #c21d1d;
    --secondary-color: #3a3335;
    --light: #fdfdfd;
    --dark: #3a3335;
    --medium: #4a4445;
    --bg-light: #fdfdfd;
    --bg-dark: #3a3335;
    --bg-medium: #4a4445;
}

.container {
    height: 100%;
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}

.bg-light {
    background: var(--bg-light);
}

.bg-dark {
    background: var(--bg-dark);
    color: #fff;
}

.bg-medium {
    background: var(--bg-medium);
    color: #fff;
}

.btn {
    padding: 0.75rem 1.5rem;
    position: relative;
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.contact-btn {
    padding: .75rem 1.5rem;
    position: relative;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    width: 40%;
    margin-inline: auto;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 0;
}

.btn::before {
    content: '';
    position: absolute;
    display: block;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: all .3s ease;
    z-index: -1;
}

.btn:hover::before {
    top: 0;
}

.contact-btn:hover {
    color: #000;
}

.contact-btn::before {
    content: '';
    position: absolute;
    display: block;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    transition: all .3s ease;
    z-index: -1;
}

.contact-btn:hover::before {
    top: 0;
}

.section-title {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 300;
    font-size: 2rem;
}